<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
      <h1>Прорицатель мира танков</h1>
       <img src="https://media.giphy.com/media/h8sd5ds2kyFBciEkJ4/giphy.gif">
       <br>
      <p>
        {{ question }}
      </p>
      <form action="/" method="post">
        <h2>Задайте вопрос</h2>
        <input type="text" id="question" name="question" required size="40">
        <br>
        <br>
        <input type="submit" value="Угостить">
      </form>

  </body>
</html>
